body{
    margin-top: 0px;
   background: #deebdf;
}
.real-Body{
    margin-top: 0px;
    width: 85%;
    background-color: #F9F9F9;
    height: 1173px;
    left: 8%;
    position: absolute;
    margin-bottom: 5%;
}
#banner-v1{
    width: 100%;
    height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}
#escudoUNLP-v1{
    position: absolute;
    width: 8vw;
    float: left;
    top: 4.5%;
    left: 2%;
}
.lineal-banner{
    height: 222px;
}
.text-tittle{
    position: absolute;
    top: 6.5%;
    font-size: 4.2vw;
    left: 13%;
    font-weight: 900;
    border: darkorange;
    color: rgb(35, 35, 35);
}
.nav-bar{
    
}
.text{
    position: absolute;
    left: 6%;
    top: 23px;
    width: 87%;
    text-align: 
    
    
    
    
    -webkit-left;
}
#imagen-para-texto{
    position: absolute;
    right: 4%;
    top: 41px;
}
.login{
    position: absolute;
    right: 6%;
    width: 17%;
}
.internal-content{
    border-style: solid;
    border-width: 2px;
    width: 68%;
    left: 3%;
    position: absolute;
    top: 252px;
    overflow: auto;
    height: 890px;
    border-radius: 3px;
    border-color: #D6D6D6;
}
.imput-v1{
    border-radius: 5px;
    border-style: groove;
    width: 189px;
    height: 21px;
    background-color: white;
    border-color: #F9F9F9;
    margin: 3px;
    left: -1%;
    position: relative;
}
.text-laber-v1{
    
}
.button-login{
    padding: 7px;
    border-radius: 4px;
    border-style: solid;
    border-color: #C3C3C3;
    margin: 6px;
    position: relative;
    left: 14%;
    padding-left: 20px;
    padding-right: 20px;
}
