.camposformalta{
	margin: 15px;
}
.camposformalta input{
	width:35%;
}
.Body-altaalumno{
    width: 85%;
    background-color: #F9F9F9;
    left: 8%;
    top: 7%;
    position: absolute;
    margin-bottom: 5%;
}
#tituloalta{
	text-align: center;
}
#tabla-alumnos{
	border-collapse: collapse;
	width:100%;
	border:1px;
	border-color:#585858;
	text-align:center;
}
#tabla-alumnos tr {
  border: #585858 5px solid;}

.iconoListado{
	 height: 35px;
	 margin-right:14px;
	
}