
<!DOCTYPE html>
<HTML lang="es">
    <HEAD>
        <TITLE>Nuevo alumno</TITLE>

        
        <script>        
            function salir(){
                location.href="frontend_controller.php?flag=true";
            }


        </script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="shortcut icon" href="../Imagenes/JoaquinVGonzalez222.ico">
        <link rel="stylesheet" href="../css/Styles-m1.css">	
		<link rel="stylesheet" href="../css/Styles-m2.css">
		<link rel="stylesheet" href="../css/bootstrap.css">
				<link rel="stylesheet" href="../css/bootstrap-theme.css">
		<link rel="stylesheet" href="../js/bootstrap.js">
				<link rel="stylesheet" href="../js/bootstrap.min.js">
				  <meta name="viewport" content="width=device-width, initial-scale=1">
				 
				  <link rel="stylesheet" href="../css/bootstrap-select.css">
				  <link rel="stylesheet" href="../js/bootstrap-select.js">
				  <link href="../css/multiple-select.css" rel="stylesheet"/>	
							
		
    </HEAD>
	<BODY>

		
		 {% include 'navbar.html'%}
    

    
		<div class="main_wrapper">     <!--Body-altaalumno-->
            <div class="lineal-banner">
            <img alt='Banner de la institución' id="banner-v1" src="../Imagenes/banner.png" title="Banner" >
            <img alt='Escudo de la institución' id="escudoUNLP-v1" src="../Imagenes/escudo-UNLP.jpg.png" title="Escudo" >
            <div class="text-tittle">{{titulo}}</div>
			</div>
		<div class="contenedor_formulario">
			<div class="container">
			  <h2>Alta Alumnos</h2>
			  {% if fallo %} <div class="alert alert-danger alert-dismissable">
  					<button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>El DNI ya existe.</strong> Intente nuevamente.
						</div>  {% endif %}
				{% if acerto %}
				    <div class="alert alert-success alert-dismissable">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  <strong>El Alumno</strong> se agrego correctamente.
				</div>
				{% endif %}

			  <form method="post" action="../controlador/controlador_alumno.php" role="form">
			  	<div class="form-group">
			      <label for="pwd">Nombre:</label>
			      <input id="imput-adminconfig" type="text" class="form-control" name="nombre" placeholder="Introduzca su Nombre" placeholder="4 <> 10" pattern="[A-Za-z]{4,10}" required>
			    </div>
			    <div class="form-group">
			      <label for="email">Email:</label>
			      <input id="imput-adminconfig" type="email" class="form-control" name="mail" placeholder="Introduzca su Email" required>
			    </div>
			    <div class="form-group">
			      <label for="pwd">DNI:</label>
			      <input id="imput-adminconfig" type="number" class="form-control" name="dni" placeholder="Introduzca su DNI" required>
			    </div>
			    <div class="form-group">
			      <label for="pwd">Dirección:</label>
			      <input id="imput-adminconfig" type="text" class="form-control" name="direccion" placeholder="Introduzca su domicilio" required>
			    </div>
			    
			    <div class="form-group">
			      <label for="pwd">Apellido:</label>
			      <input id="imput-adminconfig" type="text" class="form-control" name="apellido" placeholder="Introduzca su Apellido" placeholder="4 <> 10" pattern="[A-Za-z]{4,10}" required>
			    </div>
			    <div class="form-group">
			      <label for="pwd">Sexo:</label>
			    <div class="form-group">
					  <select id="imput-adminconfig" class="form-control" id="sel1" name="sexo" required>
					    <option>Masculino</option>
					    <option>Femenino</option>
					  </select>
					</div>
				</div>
				<div class="form-group">
					<label for="pwd">Fecha de Nacimiento:</label>
                <div class='input-group date' id='date' required>
                    <input type='date' class="form-control" name="fecha_nacimiento"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
               	 </div>
            	</div>
				<div class="form-group">
					<label for="pwd">Fecha de Ingreso:</label>
                <div class='input-group date' id='date'  required>
                    <input type='date' class="form-control" name="fecha_ingreso" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
               	 </div>
            	</div>
            	<div class="form-group">
					<label for="pwd">Fecha de Egreso:</label>
                <div class='input-group date' id='date' required>
                    <input type='date' class="form-control" name="fecha_egreso"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
               	 </div>
            	</div>
            	<div class="form-group">
        <label>Asignar Responsable/s</label>
       <select id="ms" multiple="multiple" name="responsables[]" required>
					  	{% for responsable in responsables %}
					  		<option value="{{ responsable.id }}">{{ responsable.nombre}} {{ responsable.apellido}} {{ responsable.telefono}} {{ responsable.direccion}} {{responsable.mail}}</option>
					  	{% endfor %}
					  </select>
    </div>
            	<div class="form-group">
					   
				</div>
			<div class="botonesadminsitraciondeusuarios">
			    <button type="submit" class="btn btn-primary btn">Agregar</button>
                 <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#myModal">
	  			Agregar Responsable
				</button>
				</div>


			  </form>
			  {% include 'modal_responsable.html'%}
			</div>
			<!-- Start Formoid form-->
		</div>
		<footer>contacto</footer>
		</div>
	
						<script src="../js/jquery.min.js" rel="stylesheet"/></script>	
						<script src="../js/jquery.multiple.select.js" rel="stylesheet"/></script>	
						 <script>
			 $(function() {
        $('#ms').change(function() {
            console.log($(this).val());
        }).multipleSelect({
            width: '100%'
        });
    }); </script>
	</body>
	<link rel="stylesheet" href="../js/date.js">
</HTML>
